* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
  height: auto;
}

#navbar .hamburger{
  display: none;
}

#navbar .container {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.3);
  transition: 0.5s ease background-color;
}

#navbar .menu text-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#navbar .menu text-right ul {
  list-style: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(31, 30, 30);
  overflow-x: hidden;
}


#navbar .nav-list ul.active {
  left: 0%;
}

#navbar .menu text-right ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#navbar .menu text-right ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  color: rgba(240, 248, 255, 0.021);
  padding: 20px;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#navbar .menu text-right ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#navbar .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#navbar .hamburger:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_plus 1s ease infinite;
}

#navbar .hamburger .bar {
  height: 2px;
  width: 30px;
  background-color: white;
  position: relative;
  z-index: -1;
}

#navbar .hamburger .bar::after,
#navbar .hamburger .bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
}

#navbar .hamburger .bar::after {
  top: 8px;
}

#navbar .hamburger .bar::before {
  bottom: 8px;
}
#navbar .hamburger.active .bar::after{
  bottom: 0;
  display: none;
}

#navbar .hamburger.active .bar::before{
  top: 0;
  display: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #f0ecec; */
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu .text-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul {
  display: flex;
}

ul li {
  display: flex;
  margin-right: 20px;
}

.menu a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.menu a:hover {
  color: crimson;
  font-size: 19px;
  border-top: 1px solid black;
  border-bottom: 1px solid crimson;
  border-radius: 60px;
  padding: 9px;
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../images/french-fries-fried-chicken-wooden-plate.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.search-bar input {
  width: 35%;
  height: 10%;
  border: none;
  border-radius: 5px;
  margin-bottom: 70px;
}
.search-bar button {
  width: 9%;
  height: 10%;
  border: none;
  border-radius: 5px;
  margin: 9px;
  background-color: red;
  color: white;
  margin-bottom: 80px;
}

/* .foods{
    background-color:aquamarine ;
    border-radius: 20px;

} */

.explore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.foods h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}

.foods img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  align-items: center;
  margin-left: 30px;
}

.food-img {
  align-items: center;
  justify-content: center;
}

.food-header h1 {
  margin-bottom: 2rem;
}

.food-img h3 {
  position: relative;
  bottom: 5rem;
  left: 5rem;
  padding: 15px;
  font-weight: 900;
  color: white;
  font-size: 20px;
  justify-content: space-between;
}
/* food menu section starts here */
.food-menu{
  background-color: rgba(128, 128, 128, 0.384);
}


.food-menu h1{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.left{
  background-color: white;
  border-radius: 13px;
}

.food-menu .left{
  display: flex;
  align-items: start;
  justify-content: start;
}
.image{
  padding-top: 20px;
  padding-left: 15px;
}

.image img{
  height: 150px;
  width: 200px;
  border-radius: 20px;
  margin-left: 30px;
}
.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 20px;
}

.food-lovers{
  font-size: 13px;
  margin: 0.5rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 20px;
}

.food-lovers h2 h3 p{
  margin-top: 15px;
}

.food-lovers button{
  background-color: red;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  color: white;
  margin-top: 8px;
}
.lonel p a{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: red;
  transition: 0.4s;
}
.lonel p a:hover {
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* food menu section ends here */

/* footer starts here */
#footer {
  background-color: #485563;
  margin-top: 30px;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 40px;
  width: 40px;
  margin: 10px 15px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.8rem;
}

.footer-container{
justify-content: center;
text-align: center;
}

.footer-container h2{
  font-size: 10px; 

  
}

.social-icon{
  justify-content: center;
  margin-top: 15px; 
}

.social-icon img{
  width: 30px;
  height: 30px;
}
/* footer ends here */

/* media queries */

/* keyframe for hamburger */
@keyframes hamburger_plus {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}


/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  #navbar .hamburger{
    display: none;
  }

  .search-bar{
    margin-top: 6.6rem;
  }

  .search-bar input{
    width: 40rem;
    height: 4rem;
    font-size: 23px;
  }

  .search-bar button{
    height: 4rem;
    font-size: 23px;
  }

  p{
    font-size: 20px;
  }

  .food-lovers button{
    width: 200px;
    height: 50px;
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }
  
  }


/* 
  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

  body{
    font-size: 20px;
    width: 92rem;
    font-weight: 600;
  }
   #navbar .hamburger {
    display: none;
  }
  #navbar .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #navbar .nav-list ul li {
    display: inline-block;
  }
  #navbar .nav-list ul li a {
    font-size: 1.8rem;
  }

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }

  .search-bar{
    margin-top: 6.8rem;
    width: 93rem;
  }
  .search-bar input{
    width: 40rem;
    height: 4rem;
    font-size: 23px;
  }

  .search-bar button{
    height: 4rem;
    font-size: 23px;
  }

  .foods{
    width: 70rem;
  }

  .foods img{
    width: 26rem;
  }

  .foods h1 {
    margin-bottom: 20px;
    width: 93rem;
  }

  .explore{
    width: 93rem;
  }
  

  .food-img h3{
    font-size: 1.3rem;
    font-weight: 900;
  }

  .card{
    width: 92rem;
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }
  p{
    font-size: 20px;
    font-weight: 800;
  }

  .lonel p a{
    font-size: 2rem;
  }

  #footer h2{
    font-size: 1.5rem;
    font-weight: 700;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

  body{
    font-size: 20px;
    width: 92rem;
    font-weight: 600;
  }
  #navbar .hamburger{
    display: none;
  }
  .search-bar{
    margin-top: 6rem;
  }

  .food-img img{
    width: 20em;
    height: 15em;
  }
  .search-bar input{
    width: 50rem;
    height: 4rem;
    font-size: 23px;
  }

  .search-bar button{
    height: 4rem;
    font-size: 23px;
  }

  .food-img{
    margin-top: 20px;
  }

  .food-lovers {
    font-size: 23px;
  }

  .food-lovers button{
    font-size: 23px;
    width: 100px;
    min-height: 60px;
  }

  .lonel p a {
    font-size: 23px;
  }

  #footer h2{
    font-size: 2rem;
  }

  .container{
    font-size: 30px;
  }

  h1{
    font-size: 3rem;
  }

  
  .food-img h3{
    font-size: 30px;
  }

  p{
    font-size: 1.5rem;
  }

  .social-icon{
    justify-content: center;
  }

  
}


/* 
  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body{
    font-size: 20px;
    width: 92rem;
    font-weight: 600;
  }
  #navbar .hamburger{
    display: none;
  }
  .search-bar{
    margin-top: 6rem;
  }

  .food-img img{
    width: 20em;
    height: 15em;
  }
  .search-bar input{
    width: 50rem;
    height: 4rem;
    font-size: 23px;
  }

  .search-bar button{
    height: 4rem;
    font-size: 23px;
  }

  .food-img{
    margin-top: 20px;
  }

  .food-lovers {
    font-size: 23px;
  }

  .food-lovers button{
    font-size: 23px;
    width: 100px;
    min-height: 60px;
  }

  .lonel p a {
    font-size: 23px;
  }

  #footer h2{
    font-size: 2rem;
  }

  .container{
    font-size: 30px;
  }

  h1{
    font-size: 3rem;
  }

  

  .food-img h3{
    font-size: 30px;
  }

  p{
    font-size: 1.5rem;
  }

  .social-icon{
    justify-content: center;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

  body{
    font-size: 15px;
    width: 37rem;
    margin-bottom: 2rem;
  }
  
  .search-bar{
    margin-top: 6rem;
  }

  ul{
    display: none;
  }

  .food-menu{
    width: 37rem;
  }

  .container{
    width: 37rem;
  }
  .search-bar{
    width: 38rem;
  }
  
  .foods h1{
    text-align: center;
  }

  .foods{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }
  .food-img img{
    width: 15em;
    height: 12em;
  }

  .food-img{
    width: 10em;
    height: 250px;
    margin-bottom: 15px;
  display: grid;
  margin: auto;
  }

  .explore{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    padding: -20rem;
  }

  .food-menu{
    display: flex;
    flex-direction: column;
  }

  .card{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
  .food-lovers{
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .food-lovers p{
    font: 10px;
  }

  .image img{
    width: 50px;
    height: 50px;
  }

  .footer-container{
    padding: 20px;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  body{
    font-size: 14px;
  }
  #navbar{
    padding: 10px;
    width: 10px;
    height: 20px;
  }
  #navbar img{
    width: 100px;
    height: 100px;
  }

  .search-bar{
    margin-top: 100px;
  }
  .food-menu{
    flex-direction: column;
  }

  .foods{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foods h1{
    text-align: center;
  }

  .food-img{
    width: 300px;
    height: 250px;
    margin-bottom: 15px;
  }

  .food-img img{
    width: 100%;
    height: 100%;
    margin: 0;
  }


  .footer-container{
    padding: 20px;
  }
   ul{
    display: none;
  }
  .explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  .food-menu{
    display: flex;
    flex-direction: column;
  }
  .card{
    display: flex;
    flex-direction: column;
  }

  .food-lovers{
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .food-lovers p{
    font: 10px;
  }
  
  .image img{
    width: 50px;
    height: 50px;
  }
 
  
 }
  
/* media queries ends here */